*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  box-sizing: inherit;
}
body {
  font-family: "Inter", sans-serif;
  color: #211b12;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul,
li,
p,
span,
input,
textarea {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 870px;
  width: 100%;
  margin: auto;
}
/* NAVBAR */
.navbar {
  max-width: 870px;
  padding-top: 40px;
  padding-bottom: 30px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #18abe3;
}
.nav-list {
  display: flex;
  align-items: center;
}
.nav-link {
  margin-left: 24px;
  font-size: 16px;
  line-height: 1.5;
}
.nav-link.active {
  font-weight: 700;
}
/* HEADER */
.header-accent {
  color: #18abe3;
  display: block;
}

.header {
  padding: 40px 0 70px;
  display: flex;
  align-items: center;
}

.header-text {
  margin-left: 27px;
}
.header-strong {
  display: block;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.25;
  letter-spacing: -0.03em;
  margin-bottom: 8px;
}
.header-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.35;
  letter-spacing: -0.02em;
  color: #211b12;
  margin-bottom: 24px;
}
.socials {
  display: flex;
  align-items: center;
}
.social-item {
  margin-right: 8px;
}
.social-item:last-child {
  margin-right: 0;
}
.header-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cv-download {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  padding: 7px 8px;
  margin-left: 55px;
  border-bottom: 2px solid #18abe3;
}
.cv-text {
  margin-left: 4px;
}

/* PORTFOLIO */

.section-heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.25;
  color: #18abe3;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
}
.cards {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.card {
  max-width: 400px;
  margin-bottom: 40px;
}
.card-image {
  border-radius: 4px;
}
.card-text-wrapper {
  padding: 0 16px;
}
.card-title {
  color: #18abe3;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.35;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
}
.card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #211b12;
  margin-bottom: 17px;
}
.tags {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.tag {
  border: 1px solid #18abe3;
  display: inline-block;
  border-radius: 4px;
  padding: 5px 8px;
  margin-right: 4px;
}
.card-buttons {
  display: flex;
  align-items: center;
}
.card-button {
  display: flex;
  align-items: center;
  padding: 7px 8px;
  margin-right: 25px;
  border-bottom: 2px solid #18abe3;
}
.card-button-icon {
  margin-right: 4px;
}
.card-button-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
}
